.create-customer-record-container {
    width: 30vw;
    display: flex;
    flex-direction: column;
    margin: auto;

    .create-customer-record {
        width: 30vw;
        display: flex;
        flex-direction: column;
        margin: auto;

        .title {
            margin: 10px 0;
        }

        .buttons {
            display: flex;
            justify-content: space-between;
        }
    }

    .validation-errors,
    .success-message {
        margin-top: 70px;
    }
}
